name: Build React App

on:
  workflow_call:
    inputs:
      environment:
        description: "The name of the environment to build into"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to build the application into"
        required: true
        type: string
      domain:
        description: "The name of the code repository"
        required: true
        type: string
      code_directory:
        description: "The root directory for react code"
        required: false
        type: string
        default: "src/frontend"
      tag:
        description: "The tag to build from"
        required: false
        default: ""
        type: string
      commit_hash:
        description: "Git commit hash - to locate artefacts"
        required: true
        type: string
      artefact_bucket_name:
        description: "Name of s3 bucket holding domain artefacts"
        required: true
        type: string

jobs:

  build-react-app:
    name: "Build react application"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 5
    steps:
      - name: "Checkout code"
        uses: NHSDigital/uec-dos-management/.github/actions/checkout-repository@latest
        with:
          tag: ${{ inputs.tag }}
          repository: ${{ inputs.domain }}

      - name: Configure AWS Credentials
        uses: NHSDigital/uec-dos-management/.github/actions/configure-credentials@latest
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}

      - name: Derive spa bucket
        id: derive_spa_bucket
        uses: NHSDigital/uec-dos-management/.github/actions/derive-frontend-bucket@latest
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          domain: ${{ inputs.domain }}

      - name: Derive cloudfront dist id
        id: derive_cloudfront_dist_id
        uses: NHSDigital/uec-dos-management/.github/actions/derive-cloudfront-dist-id@latest
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          domain: ${{ inputs.domain }}

      - name: Set up Node.js
        uses: NHSDigital/uec-dos-management/.github/actions/install-node@latest

      - name: Install dependencies
        uses: NHSDigital/uec-dos-management/.github/actions/install-npm-dependencies@latest
        with:
          code_directory: ${{ inputs.code_directory }}

      - name: Run Linter
        uses: NHSDigital/uec-dos-management/.github/actions/react-npm-lint@latest
        with:
          code_directory: ${{ inputs.code_directory }}

      - name: Build React application
        uses: NHSDigital/uec-dos-management/.github/actions/react-npm-build@latest
        with:
          code_directory: ${{ inputs.code_directory }}

      - name: Run Unit Tests
        uses: NHSDigital/uec-dos-management/.github/actions/react-npm-unit-tests@latest
        with:
          code_directory: ${{ inputs.code_directory }}

      - name: Archive React code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: react-code-coverage-report
          path: ${{ inputs.code_directory }}/coverage/lcov.info

      - name: Perform static analysis
        uses: NHSDigital/uec-dos-management/.github/actions/perform-static-analysis@latest
        with:
          sonar_organisation_key: ${{ vars.SONAR_ORGANISATION_KEY }}
          sonar_project_key: ${{ vars.SONAR_PROJECT_KEY }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}

      - name: "Upload react app to S3 bucket"
        uses: NHSDigital/uec-dos-management/.github/actions/push-react-artefact@latest
        with:
          code_directory: ${{ inputs.code_directory }}
          workspace: ${{ inputs.workspace }}
          commit_hash: ${{ inputs.commit_hash }}
          artefact_bucket_name: ${{ inputs.artefact_bucket_name }}
