name: Deploy Infrastructure workflow

on:
  workflow_call:
    inputs:
      environment:
          description: "The name of the environment to deploy the infrastructure into"
          required: true
          type: string
      workspace:
          description: "The name of the workspace to deploy the infrastructure into"
          required: true
          type: string
      project:
        description: "The project - eg dos or cm."
        required: false
        default: "dos"
        type: string
      domain:
          description: "The name of the domain to deploy from. If not supplied, we will deploy from the domain that has invoked the workflow"
          required: false
          default: ""
          type: string
      multi_domain:
        description: "If true uses 'dos-management' github runner ; if false uses github runner for triggering repo"
        required: false
        default: 'false'
        type: string
      stacks:
          description: "A list of the infrastructure stacks to deploy from the domain. If not supplied, no infrastructure will be deployed"
          required: false
          default: ""
          type: string
      action:
        description: "The type of action to perform with the stack."
        required: false
        default: "plan"
        type: string
      tag:
          description: "The git tag identifying the timeline in the repository to deploy from"
          required: false
          type: string
      application_tag:
          description: "The application tag identifying the timeline in the repository to deploy from"
          required: false
          type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 5
        type: number

jobs:
  deploy-infrastructure:
    name: "Deploy Infrastructure"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    timeout-minutes: ${{ inputs.workflow_timeout }}
    strategy:
      matrix:
        stack: ${{ fromJSON(inputs.stacks) }}
    steps:
      - name: "Checkout code"
        uses: NHSDigital/uec-dos-management/.github/actions/checkout-repository@latest
        with:
          repository: ${{ inputs.domain }}
          tag: ${{ inputs.tag }}

      - name: Configure AWS Credentials
        uses: NHSDigital/uec-dos-management/.github/actions/configure-credentials@latest
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          multi_domain: ${{ inputs.multi_domain }}

      - name: "Deploy infrastructure stack"
        uses: NHSDigital/uec-dos-management/.github/actions/action-infrastructure-stack@latest
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          stack: ${{ matrix.stack }}
          action: ${{ inputs.action }}
          project: ${{ inputs.project }}
          application_tag: ${{ inputs.application_tag }}
