name: Generate tag name workflow

on:
  workflow_call:
    inputs:
      workspace:
        description: "The name of the workspace to use when generating the name of the tag"
        required: true
        type: string
      use_commit_hash:
        description: "Option to specify whether or not to include the commit hash in the tag name"
        required: false
        default: "yes"
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 5
        type: number
      commit_hash:
        description: "The commit hash at head of branch. Required if use commit hash is true"
        required: true
        type: string
    outputs:
      tag_name:
        description: "The name of the generated tag"
        value: ${{ jobs.generate_tag_name.outputs.tag_name }}
jobs:
  generate_tag_name:
    name: "Generate tag name"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    outputs:
      tag_name: ${{ steps.generate-tag-name.outputs.tag_name }}
    steps:
      - name: "Checkout code"
        uses: NHSDigital/uec-dos-management/.github/actions/checkout-repository@latest
      - name: "Generate tag name"
        id: "generate-tag-name"
        uses: NHSDigital/uec-dos-management/.github/actions/generate-tag-name@latest
        with:
          workspace: ${{ inputs.workspace }}
          use_commit_hash: ${{ inputs.use_commit_hash }}
          commit_hash: ${{ inputs.commit_hash }}
