name: Cleardown Infrastructure

on:
  workflow_call:
    inputs:
      environment:
        description: "Defines the Github environment in which to pull environment variables from"
        required: true
        type: string
      workspace:
        description: "Name of the workspace"
        required: true
        type: string
      project:
        description: "The project - eg dos or cm."
        required: false
        default: "dos"
        type: string
      domain:
          description: "Name of the domain"
          required: true
          type: string
      stacks:
        description: "Name of the stacks"
        required: true
        type: string
      tag:
        description: "Name of the tag"
        required: false
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 10
        type: number

jobs:
  destroy-application-infrastructure:
        uses: NHSDigital/uec-dos-management/.github/workflows/deploy-infrastructure.yaml@latest
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          project: ${{ inputs.project }}
          stacks: ${{ inputs.stacks }}
          domain: ${{ inputs.domain }}
          tag: ${{ inputs.tag }}
          workflow_timeout: ${{ inputs.workflow_timeout }}
          action: destroy
        secrets: inherit

  delete-tf-state:
    name: "Delete terraform state file"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        stack: ${{ fromJSON(inputs.stacks) }}
    needs: [destroy-application-infrastructure]
    steps:
      - name: "Checkout code"
        uses: NHSDigital/uec-dos-management/.github/actions/checkout-repository@latest
        with:
          tag: ${{ inputs.tag }}
      - name: Configure AWS Credentials
        uses: NHSDigital/uec-dos-management/.github/actions/configure-credentials@latest
        with:
            aws_account_id: ${{ secrets.ACCOUNT_ID }}
            aws_region: ${{ vars.AWS_REGION }}
      - name: "Delete terraform state file"
        id: delete_tf_state
        uses: NHSDigital/uec-dos-management/.github/actions/cleardown-tf-state@latest
        with:
          workspace: ${{ inputs.workspace }}
          environment: ${{ inputs.environment }}
          stack: ${{ matrix.stack }}

  check-tf-state:
    name: "Check state files cleared down"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    needs: [
      delete-tf-state
    ]
    steps:
      - name: "Checkout code"
        uses: NHSDigital/uec-dos-management/.github/actions/checkout-repository@latest
        with:
          tag: ${{ inputs.tag }}
      - name: Configure AWS Credentials
        uses: NHSDigital/uec-dos-management/.github/actions/configure-credentials@latest
        with:
            aws_account_id: ${{ secrets.ACCOUNT_ID }}
            aws_region: ${{ vars.AWS_REGION }}
      - name: "Check terraform state file"
        id: check_tf_state
        uses: NHSDigital/uec-dos-management/.github/actions/check-tf-state@latest
        with:
          workspace: ${{ inputs.workspace }}
          environment: ${{ inputs.environment }}

