name: User interface test workflow

on:
  workflow_call:

    inputs:
      environment:
        description: The relevant github environment (for secrets and variables)
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the application into"
        required: true
        type: string
      tag:
        description: "The tag to build and deploy from"
        required: false
        default: ""
        type: string
      allure_report_retention:
        description: "The number of days to retain allure reports (in github)"
        required: false
        default: 10
        type: number

jobs:
  run-ui-tests:
    name: "Run ui tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: "Checkout code"
        uses: NHSDigital/uec-dos-management/.github/actions/checkout-repository@latest
        with:
          tag: ${{ inputs.tag }}

      - name: Configure AWS Credentials
        uses: NHSDigital/uec-dos-management/.github/actions/configure-credentials@latest
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}

      - name: Set up Node.js
        uses: NHSDigital/uec-dos-management/.github/actions/install-node@latest

      - name: Install Allure command-line tool
        id: install-allure
        continue-on-error: true
        uses: NHSDigital/uec-dos-management/.github/actions/install-allure@latest

      - name: Run ui tests
        id: run-ui-test-pack
        uses: NHSDigital/uec-dos-management/.github/actions/ui-test@latest
        with:
          aws_region: ${{ vars.AWS_REGION }}
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}

      - name: Upload allure report
        if: always()
        id: upload_allure_report
        uses: NHSDigital/uec-dos-management/.github/actions/upload-artefact@latest
        with:
          name: allure-report
          path: tests/ui/allure-reports/index.html
          retention-days: ${{ inputs.allure_report_retention }}

      - name: Upload accessibiity results
        if: always()
        id: accessibiity-artifact-upload-step
        uses: NHSDigital/uec-dos-management/.github/actions/upload-artefact@latest
        with:
          name: axe-report
          path: tests/ui/accessibility-reports/artifacts/*.html
          retention-days: ${{ inputs.allure_report_retention }}


